.button{
    position:fixed;
    right:2.5rem;
    top:2.5rem;
    margin:20px;
    width:5rem;
    height:5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;

    .burger{
        width: 100%;
        &::after, &::before{
            content: "";
            display: block;
            height: 1px;
            width: 40%;
            margin: auto;
            background-color: white;
            position: relative;
            transition: transform 0.3s;
        }

        &::after{
            top: -5px;
        }

        &::before{
            top: 5px;
        }
    }


    .burgerActive {

        &::after {
            transform: rotate(45deg);
            top: -1px;
        }

        &::before {
            transform: rotate(-45deg);
            top: 0px;
        }
    }
}