@tailwind base;
@tailwind components;
@tailwind utilities;

/*Base Styles*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Variables*/
:root {
    --text-colorPrimary: whitesmoke;
}

.textColorPrimary {
    color: var(--text-colorPrimary);
}

@media (max-height: 1100px) {
    .homeContainer{
        @apply gap-[5rem];
    }
}

@media (max-height: 800px) {
    .homeContainer{
        @apply gap-[3rem];
    }
}
